/*
 * This file is part of Flarum.
 *
 * For detailed copyright and license information, please view the
 * LICENSE file that was distributed with this source code.
 */

a, code {
  .spoiler & {
    background: #444;
    color: transparent;
    padding: 0;
    cursor: text;
  }
}
